ion-content {
    & > .__page-noty {
        text-align: center;
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        
        & > strong {
            font-size: 20px;
            line-height: 26px;
        }
        & > p {
            font-size: 16px;
            line-height: 22px;
            color: #8c8c8c;
            margin: 0;
        }
    }
    & > ion-list {
        & > ion-item ion-label{
            padding: 4px 0;
        }
        &._pressed{
            display: flex;
            flex-direction: column;
            height: 100%;

            & > ion-item{
                ion-label{
                    padding: 0;
                }
                &::part(native){
                    align-items: center;
                    height: 100%;
                }
            }
        }
    }
}

ion-footer {
    transition: height 1s var(--bezier);

    &._rolled{ height: 0; }
    &._unrolled{ height: 56px; }
    ion-segment-button{
        --indicator-height: 4px;

        &::part(indicator-background){
            border-radius: 4px 4px 0 0;
        }
    }
}
