<ion-header class="nc2-page-header" mode="md">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button class="nc2-btn"></ion-back-button>
        </ion-buttons>
        <ion-title size="small">
            The cat #{{ catId }}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [class._premium]="!!app._.userAuth">
    <ion-card *ngIf="cat">
        <img alt="Cat's photo"
            *ngIf="cat.image"
            [src]="cat.image"
            (error)="am.imgErrorHandle($event, '/assets/noimg_cat.svg')"
        />
        <ion-card-header>
            <ion-card-title>
                <ng-container *ngIf="cat.name">
                    {{ cat.name }} <span *ngIf="cat.breed"> <ion-icon name="paw-outline"></ion-icon> {{ cat.breed }}</span>
                </ng-container>
                <ng-container *ngIf="!cat.name && cat.breed">
                    {{ cat.breed }}
                </ng-container>
                <ng-container *ngIf="!cat.name && !cat.breed">
                    Unknown <ion-icon name="paw-outline"></ion-icon> Alien
                </ng-container>&nbsp;
                <ion-text color="primary"
                    *ngIf="cat.adoption_fee && !cat.is_adopted"
                >{{ cat.adoption_fee | currency }}&nbsp;</ion-text>
                <ion-badge *ngIf="cat.is_adopted" color="secondary">Adopted</ion-badge>
            </ion-card-title>
            <ion-card-subtitle color="primary" *ngIf="cat.adoption_fee">a premium cat</ion-card-subtitle>
            <ion-card-subtitle>{{ cat.age }} {{ cat.age === '1' ? 'year' : 'years' }} old</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content *ngIf="cat.description">
            {{ cat.description }}
        </ion-card-content>
        <ng-template #tpl_noContacts>
            <ion-card-content>
                <ion-text color="dark">
                    <ion-icon name="alert-circle-outline" color="warning"></ion-icon>
                    Unfortunately, the contacts to adopt the cat are not set
                </ion-text>
            </ion-card-content>
        </ng-template>
        <ion-button fill="clear" id="modal_contacts"
            *ngIf="cat.contact_name || cat.contact_phone; else tpl_noContacts"
        >
            Contact
            <ion-modal 
                trigger="modal_contacts"
                [initialBreakpoint]="0.3"
            >
                <ng-template>
                    <ion-content class="ion-padding">
                        <ion-list>

                            <ion-item *ngIf="cat.contact_name">
                                <ion-icon name="person-outline" slot="start"></ion-icon>
                                <ion-label>
                                    <strong>{{ cat.contact_name }}</strong>
                                    <p>The owner's name</p>
                                </ion-label>
                            </ion-item>

                            <ion-item *ngIf="cat.contact_phone">
                                <ion-icon name="call-outline" slot="start"></ion-icon>
                                <ion-label>
                                    <strong>{{ cat.contact_phone }}</strong>
                                    <p>Phone number of the owner</p>
                                </ion-label>
                            </ion-item>

                        </ion-list>
                    </ion-content>
                </ng-template>
            </ion-modal>
        </ion-button>
    </ion-card>
</ion-content>
