// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
    
    --ion-color-primary: #8E26CE;
    --ion-color-primary-rgb: 142,38,206;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255,255,255;
    --ion-color-primary-shade: #7d21b5;
    --ion-color-primary-tint: #993cd3;

	--ion-color-secondary: #284577;
	--ion-color-secondary-rgb: 40,69,119;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 255,255,255;
	--ion-color-secondary-shade: #233d69;
	--ion-color-secondary-tint: #3e5885;
    --ion-color-secondary-back: #747791;

	--ion-color-success: #71A00B;
	--ion-color-success-rgb: 113,160,11;
	--ion-color-success-contrast: #ffffff;
	--ion-color-success-contrast-rgb: 255,255,255;
	--ion-color-success-shade: #638d0a;
	--ion-color-success-tint: #7faa23;

    --bezier: cubic-bezier(.01,.84,.2,1);
}
