ion-content{
    .__block_centered{
        position: absolute;
        inset: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: url(/assets/bg_paws.svg) center center repeat;
    
        & > ion-icon {
            width: 30vmin;
            --forecolor: var(--ion-color-primary-contrast);
            max-width: 300px;
            max-height: 300px;
            height: 30vmin;
        }

        & > form {
            flex-shrink: 0;
            min-width: 270px;
            margin-bottom: 25vh;

            & > .__submit-btn-holder {
                text-align: center;
            }
        }

        & > .__note {
            opacity: 0.9;
            font-weight: 200;
        }
    }
}