<ion-content color="secondary">
    <div class="__block_centered">
        <ion-icon name="paw-logo"></ion-icon>
        <h1>Find a true friend</h1>
        <form (ngSubmit)="login()" [formGroup]="credentialsFg">
            <ion-list class="input-group" lines="none">
                <ion-list-header>
                    <ion-label>
                        Log in to your account
                    </ion-label>
                </ion-list-header>
                <ion-item>
                    <ion-input
                        formControlName="email" type="email"
                        labelPlacement="floating"
                        label="E-mail" errorText="Enter a valid email"
                    ></ion-input>
                </ion-item>
                <ion-item>
                    <ion-input
                        formControlName="pass" type="password"
                        labelPlacement="floating"
                        label="Password"
                    >
                    <!-- <ion-input-password-toggle (click)></ion-input-password-toggle> -->
                    </ion-input>
                </ion-item>
            </ion-list>
            <div class="__submit-btn-holder ion-padding">
                <ion-button type="submit" fill="solid" color="light"
                    [disabled]="!credentialsFg.valid"
                >Log in</ion-button>
                <ion-button fill="clear" color="light"
                    (click)="justGo()"
                >Continue as a guest</ion-button>
            </div>
        </form>
        <div class="__note">Paws App v0.0.1-n1</div>
    </div>
</ion-content>
