//#region paw
.paw-search-token{
    background: var(--ion-color-warning-tint);
    border-radius: 4px;
    padding: 0 1px;
    font-weight: 900;
    text-decoration: underline;
}

//#endregion paw

//#region ionic-mods
ion-icon._size_normal {
    font-size: 2em;
}

ion-item{
    & > .__shadow-note{
        position: absolute;
        height: 100%;
        width: 80%;
        right: 0;
        z-index: 0;
        opacity: 0.3;
        
        line-height: 1em;
        padding: 9px 36px;
        font-size: 0.8em;
        text-wrap: balance;
        text-align: right;
    }
}
//#endregion ionic-mods
