//#region ionic-mods
ion-header > ion-toolbar > ion-avatar{
    padding: 4px;
}

ion-progress-bar._fullcovered{
    pointer-events: none;
    position: absolute;
    height: 100%;
    inset: 0;
    z-index: 1;
    opacity: 0.1;
}

//#endregion ionic-mods
